# .github/workflows/simple-reusable.yml
name: Simple reusable workflow example

on:
  workflow_call:
    inputs:
      caller-repo:
        required: true
        type: string
      label:
        required: false
        type: string
        default: test
    secrets:
      token:
        required: true

permissions:
  contents: read
  pull-requests: write

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - name: Echo repo names
        run: |
          echo "Reusable workflow repo: ${{ github.repository }}"
          echo "Caller repo: ${{ inputs.caller-repo }}"

      - name: Add label to the PR
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.token }}
          script: |
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              labels: ['${{ inputs.label }}']
            })
